@font-face {
  font-family:"proximanovaregular" ;
  src: url(../fonts/proximanovaregular.otf);
}
@font-face {
   font-family:"proximanovasemiboldit" ;
  src: url(../fonts/proximanovasemiboldit.otf;)
}
@font-face {
  font-family:"proximanovaboldit" ;
  src: url(../fonts/proximanovaboldit.otf;)
}
@font-face {
  font-family: "Myarid";
  src: url(../fonts/myriadpro.otf);
}
@font-face {
  font-family:"ProximaNovalight";
  src: url(../fonts/proximanovalight.otf);  
}
@font-face {
  font-family:"BlackJackRegular";
  src: url(../fonts/BLACKJAR.TTF);  
}
@font-face {
  font-family: "ProximaNova";
  src: url(../fonts/proximanova.otf); 
}
@font-face {
  font-family: "ProximaNovabold";
  src: url(../fonts/proximanovabold.otf); 
}
@font-face {
  font-family: "KaushanScript";
  src: url(../fonts/KaushanScript.otf);
}
header strong {
 font-family: "ProximaNovabold";
}
i {
  padding-left: 10px;
}
body {
  min-width: 320px !important;
}
header,
section {
  margin: 0 auto;
  max-width: 1170px;
}
h1 {
  font-family: "BlackJackRegular";
  font-size: 70px;
  color: white;
}
h2 {
  font-family: "ProximaNovalight";
  font-size: 38px;
  font-weight: bold;
  line-height: 1;
}
.btn {
  display: inline-block;
  width: 173px;
  padding: 13px 0;
  text-transform: uppercase;
  border: 3px solid white;
  background-color: transparent;
  font-size: 15px;
  font-family: "proximanovaregular";
  line-height: 1.7;
  text-align: center;
  outline: none;
  transition: 0.2s ease all;
  cursor: pointer;
}
/* --- end main setting -----*/
.head {
  background-image: url(../images/header.png);
  overflow: hidden;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  font-family: "KaushanScript";
  font-size: 50px;
  color: rgb(13, 169, 229);
  line-height: 0.5;
  box-shadow: 14px 15px 1px rgba(13, 169, 229, .7), 0 4px 0 rgba(13, 169, 229, .8);
}
.logotext {
  padding-top: 33.333px;
  text-align: center;
}
.search {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  z-index: 4;
}
.search__item {
  background-color: white;
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
  transition: 0.2s ease all;
}
.search__item:last-child {
  margin-bottom: 0;
}
.search.active .search__item:first-child {
  transform: rotate(45deg);
}
.search.active .search__item:nth-child(2) {
  display: none;
}
.search.active .search__item:last-child {
  transform: rotate(-45deg);
  margin-top: -7px;
}
.search:hover .search__item {
  background-color: rgba(255, 255, 255, 0.8);
}
.head-content {
  text-align: right;
  color: white;
  padding-top: 70px;
}
.head-content p {
  padding-top: 25px;
  font-size: 35px;
  font-family: "ProximaNova";
}
.btn.download {
  color: white;
  border-color: white;
  margin-top: 55px;
}
.btn.download:hover {
  color: rgb(13, 169, 229);
  background-color: white;
}
.phone-content {
  height: 260px;
  overflow: hidden;
  float: left;
  margin-right: 50px;
  margin-top: 55px;
}
.phone {
  float: left;
  width: 228px;
  height: 482px;
  background-color: rgb(71, 78, 93);
  border-radius: 30px;
}
.camera {
  margin: 20px auto 0 auto;
  width: 9px;
  height: 9px;
  background-color: rgb(165, 164, 164);
  border-radius: 50%;
}
.loudspeaker {
  margin: 10px auto 0 auto;
  width: 43px;
  height: 9px;
  background-color: rgb(165, 164, 164);
  border-radius: 30px;
}
.screen {
  margin: 10px auto 0 auto;
  width: 200px;
  height: 350px;
  background-image: -webkit-linear-gradient(bottom, white, #f3787a);
  background-image: -o-linear-gradient(bottom, white, #f3787a);
  background-image: linear-gradient(to top, white, #f3787a);
  -webkit-background-size: 1000% 1000%;
  background-size: 1000% 1000%;
  background-repeat: no-repeat;
  animation: grad 100s ease;
  -webkit-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@keyframes grad {
  0%{background-position:0% 0%}
50%{background-position:100% 100%}
100%{background-position:0% 0%}
}
/*---- hide menu ----*/
.hidemenu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(243, 120, 122, .9);
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 3;
}
.hidemenu__content {
  padding: 0;
  list-style-type: none;
}
.hidemenu__content li {
  margin-bottom: 10px;
}
.hidemenu em {
  margin-left: 30px;
  color: white;
  font-family: 'proximanovaregular';
}
.hidemenu a {
  text-decoration: none;
}
.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: white;
  color: rgb(13, 169, 229);
  border-radius: 100%;
  transition: 0.1s ease all;
}
.icon i {
  font-size: 18px;
  padding: 0;
}
.hidemenu a:hover .icon {
  background-color: rgb(13, 169, 229);
  color: white;
}
/*---- about ----*/
.about {
  background-color: #f4f4f4;
  padding-top: 140px;
}
.about-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-content__text {
  width: calc(100% - 480px);
}
.about h2 {
  color: rgb(84, 84, 84);
  margin-bottom: 25px;
}
.about p {
  font-size: 16px;
  font-family: "Myarid";
  color: rgb(126, 126, 126);
  letter-spacing: 0.8px;
}
.line {
  margin-top: 30px;
  padding-left: 15px;
  border-left: 7px solid #4eacdd;
}
.btn.hello {
  margin-top: 70px;
  color: #14af8f;
  border: 3px solid #14af8f;
  letter-spacing: initial;
}
.btn.hello:hover {
  background-color: #14af8f;
  color: #f4f4f4;
}
.ipad-content {
  height: 430px;
  overflow: hidden;
}
.ipad {
  display: inline-block;
  width: 408px;
  height: 578px;
  border-radius: 18px;
  background-color: rgb(71, 78, 93);
}
.icamera {
  margin: 25px auto 0 auto;
  width: 8px;
  height: 8px;
  background-color: rgb(165, 165, 165);
  border-radius: 50%;
}
.iscreen {
  margin: 25px auto 0 auto;
  width: 87%;
  height: 475px;
  /*background-color: #fee9a3;*/
  position: relative;
  background-image: url('../images/dribbble.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  animation: 18s page infinite linear;
}
@keyframes page {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}
.iscreen:before {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  /*background-color: rgba(0, 0, 0, 0.1);*/
  background-color: rgba(254, 233, 163, 0.9);
}
.ibutton {
  margin: 10px auto 0 auto;
  width: 25px;
  height: 25px;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 100%;
}
/* ---- portfolio ------*/
.portfolio {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
.portfolio h2 {
  font-family: "proximanova";
  color: #545454;
}
.portfolio p em {
  margin-top: 35px;
  font-size: 16px;
  font-family: "ProximaNovabold";
  color: #474e5d;
  line-height: 1.5;
  letter-spacing: .6px;
  font-weight: lighter;
}
.portfolio p {
  font-family: "proximanovaregular";
  color: #7e7e7e;
  margin-top: 25px;
}
img.devices {
  width: 50%;
  object-fit: contain;
  align-self: flex-end;
}
.portfolio__text {
  width: 50%;
  padding-bottom: 200px;
}
.btn.dribbble {
  border-color: #ea4c89;
  color: #ea4c89;
  margin-top: 50px;
}
.btn.dribbble:hover {
  background-color: #ea4c89;
  color: white;
}
/* ---- donate -----*/
.donate {
  padding: 98px 0;
  color: rgb(255, 255, 255);
  text-align: center;
  background-image: url(../images/donate.png);
}
.btn.beer {
  color: white;
  margin-top: 30px;
}
.btn.beer:hover {
  background-color: white;
  color: #0bc3ad;
}
/*--- contact ----*/
.contact {
  padding: 100px 0;
  color: rgb(84, 84, 84);
  text-align: center;
  background-color: rgb(244, 244, 244);
}
.soc {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.soc__item {
  display: flex;
  margin-bottom: 15px;
}
.soc a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  width: 50px;
  height: 50px;
  border: 3px solid rgb(84, 84, 84);
  color: rgb(84, 84, 84);
  text-decoration: none;
  border-radius: 100%;
  transition: 0.2s ease all;
}
.soc a i {
  padding-left: 0;
  font-size: 25px;
}
.soc a:hover {
  color: #3d8bb4;
  border-color: #3d8bb4;
}
.subscribe {
  font-family: "ProximaNovabold";
  font-size: 16px;
  letter-spacing: 0.3px;
  margin-top: 30px;
}
.subscribe input {
  margin-left: 15px;
  padding-left: 20px;
  width: 217px;
  height: 43px;
  font-size: 16px;
  font-family: "proximanovabold";
  letter-spacing: 0.4px;
  border: none;
  border-radius: 10px;
  outline: none;
}
input::-webkit-input-placeholder { 
  color: #d3d3d3;
}
.submitmail {
  margin-left: -54px;
  padding-left: 15px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-left: 1px solid #e9e9e9;
  outline: none;
  transition: 0.2s ease all;
  cursor: pointer;
}
.subscribe i:hover {
 color: #57b7e0;
}
.subscribe i {
  padding: 0px;
  font-size: 16px;
  color: #6ec5ea;
}
/*----footer-----*/
footer {
  font-size: 12px;
  font-family: "proximanovaregular";
  color: rgb(84, 84, 84);
  line-height: 2;
  text-align: center;
  padding: 40px 0;
  position: relative;
}
footer a {
  color: #a1d8f1;
  text-decoration: none;
  transition: 0.2s ease all;
}
footer a:hover {
  text-decoration: none;
  color: #46b0e0;
}
.upperbutton {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 30px;
  margin: auto;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 6px;
}
.upperbutton i {
  padding: 0;
  color: #797979;
}
.upperbutton:hover i {
  animation: 1s upper linear infinite;
}
@keyframes upper {
  0% {
    font-size: 14px;
  }
  50% {
    font-size: 18px;
  }
  100% {
    font-size: 14px;
  }
}
/*-----Media-----*/
@media (max-width: 1200px) {
  header,
  section {
    width: 95%;
    margin: 0 auto;
  }
}
@media (max-width: 991px) {
  .about-content {
    align-items: center;
  }
  .about {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .ipad-content {
    height: initial;
  }
}
@media (max-width: 768px) {
  header, section {
    width: 90%;
    margin: 0 auto;
  }
  .portfolio {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  img.devices,
  .portfolio__text {
    width: 100%;
  }
  .portfolio__text {
    padding-bottom: 50px;
  }
  .head-content p {
    max-width: 400px;
    margin-left: auto;
  }
  .about-content__text {
    width: calc(100% - 330px);
  }
  .ipad {
    width: 300px;
    height: 415px;
  }
  .icamera {
    margin: 20px auto 0 auto;
    width: 6px;
    height: 6px;
  }
  .iscreen {
    margin: 20px auto 0 auto;
    height: 330px;
  }
  .ibutton {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 630px) {
  .about-content {
    justify-content: flex-end;
  }
  .about-content__text {
    width: 100%;
  }
  .ipad-content {
    margin-top: -57px;
    height: 250px;
  }
  .about {
    padding-bottom: 0;
  }
}
@media (max-width: 540px) {
  .ipad {
    width: 100%;
  }
  h1 {
    font-size: 55px;
  }
  .ipad-content {
    margin-top: 50px;
    width: 100%;
  }
  .portfolio,
  .about {
    padding-top: 40px;
  }
  .subscribe span {
    display: block;
    margin-bottom: 10px;
  }
  .contact {
    padding: 60px 0;
  }
  .footer,
  .footer-content {
    text-align: left;
  }
}
@media (max-width: 370px) {
  .footer-text {
    display: block;
  }
}